[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-id3-editor
Exec=invoker --type=generic -s /usr/bin/harbour-id3-editor
Name=MP3 tag editor
Name[cs_CZ]=Editor MP3 tagů

